{{#section 'head'}}
    <title>Chat</title>
    <style>
        * { margin:0; padding:0; box-sizing:border-box;}
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
{{/section}}

<div><input type="text" id="passw-encr" value="This is not the password" /></div>
<div><input type="text" id="username" value="Username" /></div>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button id="btn">Send</button>
</form>

{{#section 'scripts'}}
    <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.8.js"></script>
    <script src="/javascripts/sha256.min.js"></script>
    <script>
        var socket = io();

        var minLen = 128;

        var body = $('html, body');
        var message = $('#m');
        var messages = $('#messages');
        var username = $('#username');

        var pass = $('#passw-encr');

        $('#btn').on('click', function(event) {
            event.preventDefault();

            var txt = message.val();
            if (txt.length < 1) return false;

            var key = aesjs.utils.hex.toBytes(sha256(pass.val()));

            var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter());

            var len = txt.length;
            if (txt.length < minLen)
                txt = txt + rndString(minLen - txt.length);
            var msg = aesjs.utils.hex.fromBytes(aesCtr.encrypt(aesjs.utils.utf8.toBytes(txt)));

            socket.emit('chat message', {
                msg: msg,
                length: len,
                from: username.val(),
            });

            message.val('');
            return false;
        });

        socket.on('chat message', function(obj) {
            var key = aesjs.utils.hex.toBytes(sha256(pass.val()));

            var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter());

            var msg = aesjs.utils.utf8.fromBytes(aesCtr.decrypt(aesjs.utils.hex.toBytes(obj.msg)));
            if (msg.length != obj.length)
                msg = msg.substr(0, obj.length);

            var newMsg = $('<li>');
            messages.append(newMsg.text(
                    obj.from + '> ' + msg
            ));

            body.scrollTop(newMsg.offset().top);
        });

        socket.emit('new user');
        socket.on('new user', function() {
            var newMsg = $('<li>');
            messages.append(newMsg.text('A new user is online'));
            body.scrollTop(newMsg.offset().top);
        });

        function rndString(len) {
            var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var s = '';
            if (len < 1) return '0';

            for (var i = 0; i != len; ++i)
                s += chars[Math.round(Math.random() * (chars.length - 1))];
            return s;
        }
    </script>
{{/section}}